<div class="col-md-11" style="margin:auto;">
  <div class="card mb-3">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="{{userPage.image}}" class="card-img" alt="Card image cap">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h4>{{userPage.name}}</h4>
          <p>{{userPage.email}}</p>
          <p>{{userPage.Comments.length}} 間已評論餐廳</p>
          {{#if isOwner}}
          <a href="/users/{{userPage.id}}/edit" class="btn btn-primary">Edit</a>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-md-11" style="margin:auto;">
  <div class="card">
    <h5 class="card-header">{{userPage.Comments.length}} 間已評論餐廳</h5>
    <div class="card-body">
      {{#each userPage.Comments}}
      <div class="mr-2" style="display:inline-block;">
        <a href="/restaurants/{{this.Restaurant.id}}">
          <img src="{{this.Restaurant.image}}" width="100" alt="">
        </a>
      </div>
      {{/each}}
    </div>
  </div>
</div>